# =========================

# SISTEMA OPERACIONAL

# =========================

.DS_Store
Thumbs.db

# =========================

# VS CODE

# =========================

.vscode/

# =========================

# LOGS E TEMPORÁRIOS

# =========================

*.log
*.tmp

# =========================

# CACHE

# =========================

.cache/

# =========================

# POWER BI

# =========================

*.pbix.autosave
*.pbit.autosave

# =========================

# PYTHON (SE USAR)

# =========================

**pycache**/
*.pyc

# =========================

# NODE (SE USAR)

# =========================

node_modules/
